<div id="popup">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">id</label>
        <input type="email" class="form-control" id="goodsId" placeholder="id" value="{{currentgoods.id}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">imgs</label>
        <input type="email" class="form-control" id="goodsImgs" placeholder="imgs" value="{{currentgoods.imgs}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">name</label>
        <input type="email" class="form-control" id="goodsName" placeholder="name" value="{{currentgoods.name}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">nickname</label>
        <input type="email" class="form-control" id="goodsNickname" placeholder="nickname" value="{{currentgoods.nickname}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">price</label>
        <input type="email" class="form-control" id="goodsPrice" placeholder="price" value="{{currentgoods.price}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">label</label>
        <input type="email" class="form-control" id="goodsLabel" placeholder="label" value="{{currentgoods.label}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">imgtxt</label>
        <input type="email" class="form-control" id="goodsImgtxt" placeholder="imgtxt" value="{{currentgoods.imgtxt}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">detsale</label>
        <input type="email" class="form-control" id="goodsDetsale" placeholder="detsale" value="{{currentgoods.detsale}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">toconfig</label>
        <input type="email" class="form-control" id="goodsToconfig" placeholder="toconfig" value="{{currentgoods.toconfig}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">saledate</label>
        <input type="email" class="form-control" id="goodsSaledate" placeholder="saledate" value="{{currentgoods.saledate}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">hot</label>
        <input type="email" class="form-control" id="goodsHot" placeholder="hot" value="{{currentgoods.hot}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">new</label>
        <input type="email" class="form-control" id="goodsNew" placeholder="new" value="{{currentgoods.new}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">cover</label>
        <input type="email" class="form-control" id="goodsCover" placeholder="cover" value="{{currentgoods.cover}}">
      </div>
      <button type="submit" class="btn btn-default" (click)="update()">Submit</button><button class="btn btn-default" (click)="hiddenpop()">Cancel</button>
    </form>
</div>
<app-shadow></app-shadow>