
#details{
	display: flex;
	flex-direction: column;
	height: 100%;
	.swiper-container {
	    width: 100%;
	    height: 2.933333rem;
	} 
	.header{
		display: flex;
		justify-content: space-between;
		height: 0.666667rem;
		background: #343434;
		align-items: center;

		.item1{
			width: 30%;
			color:#fff;
			font-size:0.32rem;
			padding-left:0.133333rem;
		}
		.conserch{
			width: 40%;
			/*background: #CBCBCB;*/
			border:1px solid #CBCBCB;
			height: 0.533333rem;
			border-radius: 0.053333rem;
			display: flex;
			padding: 1px;
			div{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50%;
				background: #343434;
				font-size: 0.186667rem;
				color: #CBCBCB;
				height: 100%;
			}
			.ac{
				background: #CBCBCB;
				color:#343434;
			}
		}
		.item2{
			width: 30%;
			color:#fff;
			font-size: 0.32rem;
			padding-right: 0.133333rem;
			i{
				float: right;
			}
		}
	}
	.main{
		height: 100%;
		flex: 1;
		display: flex;
		.swiper-slide{
			img{
				width: 100%;
				height: 100%;
			}
		}
		.swiper-wrapper{
			
			transition: margin-left 0.5s ease-in-out;
		}
		
	}
	.footer{
		display: flex;
		height: 0.666667rem;
		border-top:1px solid #ccc;
		div{
			font-size: 0.186667rem;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			border-right:1px solid #ccc;
			i{
				font-size: 0.32rem;
			}
		}
	}
}
