#payment{
    height:100%;
    display:flex;
    flex-direction:column;
    .header{
        display:flex;
        width: 100%;
        height:1.16rem;
        align-items:center;
        justify-content:space-between;
        background:#000000;
        color:#fff;
        font-size:0.4rem;
        border-bottom:1px solid #9C9C9C;
        li:nth-child(3){
        }
        li:nth-child(1){
            padding-left:0.106667rem;
            color:#fff;
            i{
                display:block;
                font-size:0.373333rem;
            }
        }
    }
    .l-number{
        display:flex;
        height:1.26rem;
        border-bottom:1px solid #ccc;
        justify-content:space-between;
        align-items:center;
        font-size:0.32rem;
        li:nth-child(1){
            padding-left:0.133333rem;
        }
        li:nth-child(2){
            padding-right:0.133333rem;
            .price{
                color:#FF5622
            }
        }
    }
    .weixin{
        display:flex;
        height:1.26rem;
        border-bottom:1px solid #ccc;
        justify-content:space-between;
        align-items:center;
        font-size:0.32rem;
        li:nth-child(1){
            display:flex;
            padding-left:0.106667rem;
            align-items:center;
            i{
                display:block;
                padding-right:0.333333rem;
                color:green;
                font-size:0.62rem;
            }
        }
        li:nth-child(2){
            padding-right:0.106667rem;
        }
        input{
            display:block;
            width:0.346667rem;
            height:0.346667rem;
        }
    }
    .zhifubao{
        display:flex;
        height:1.26rem;
        border-bottom:1px solid #ccc;
        justify-content:space-between;
        align-items:center;
        font-size:0.32rem;
        li:nth-child(1){
            display:flex;
            padding-left:0.106667rem;
            align-items:center;
            i{
                display:block;
                padding-right:0.333333rem;
                color:skyblue;
                font-size:0.62rem;
            }
        }
        li:nth-child(2){
            padding-right:0.106667rem;
        }
        input{
            display:block;
            width:0.346667rem;
            height:0.346667rem;
        }
    }
    .pay{
        display:flex;
        justify-content:center;
        .pay-button{
            margin-top:0.993333rem;
            width:8.0rem;
            height:1.26rem;
            background:#f60;
            line-height:1.26rem;
            text-align:center;
            color:#fff;
            font-size:0.373333rem;
        }
    }
}    