<div class="nav">
    <div class="left">
    <div class="div1">
    <div class="left_top">
        <img src="../../../assets/images/bbb_01.jpg" />
        <img src="../../../assets/images/bbb_02.jpg" />
        <img src="../../../assets/images/bbb_03.jpg" />
        <img src="../../../assets/images/bbb_04.jpg" /> 
    </div>
    <div class="div2" (click)="s_h($event)">
        <div class="jbsz"></div>
        商品管理
    </div>
    <div class="div3">
        <ul>
            <li><a routerLink="/index/goods">商品信息</a></li>
            <li><a routerLink="/index/addgoods">添加商品</a></li>
            <li> 导航菜单</li>
        </ul>
    </div>
    <div class="div2" (click)="s_h($event)">
        <div class="xwzx"></div>
        用户管理
    </div>
    <div class="div3">
        <ul>
            <li> <a routerLink="/index/users">用户信息</a></li>
            <li> 文章分类</li>
            <li> 添加文章</li>
        </ul>
    </div>
    <div class="div2" (click)="s_h($event)">
        <div class="zxcp"></div>
        最新产品
    </div>
    <div class="div3">
        <ul>
            <li>图片管理</li>
            <li> 图片分类</li>
            <li> 添加图片</li>
        </ul>
    </div>
      <div class="div2" (click)="s_h($event)">
        <div class="lmtj"></div> 
        栏目添加
    </div>
    <div class="div3">
        <ul>
            <li> 文章系统</li>
            <li> 图片系统</li>
            <li> 添加表单</li>
            <li> 招聘系统</li>
        </ul>
    </div>
    </div>
    </div>
    <div>
    </div>
    <app-popup *ngIf='showpop'></app-popup>
</div>