.nav{ margin:0;font-family:微软雅黑;}
.nav .left{ width:200px; height:100%; border-right:1px solid #CCCCCC ; color:#fff; font-size:14px; text-align:center;}
.nav .div1{text-align:center; width:200px; padding-top:10px;}
.nav .div2{height:40px; line-height:40px;cursor: pointer; font-size:13px; position:relative;border-bottom:#ccc 1px dotted;}
.nav .jbsz {position: absolute; height: 20px; width: 20px; left: 40px; top: 10px; background:url(../../../assets/images/1.png);}
.nav .xwzx {position: absolute; height: 20px; width: 20px; left: 40px; top: 10px; background:url(../../../assets/images/2.png);}
.nav .zxcp {position: absolute; height: 20px; width: 20px; left: 40px; top: 10px; background:url(../../../assets/images/4.png);}
.nav .lmtj {position: absolute; height: 20px; width: 20px; left: 40px; top: 10px; background:url(../../../assets/images/8.png);}
.nav .div3{display: none;cursor:pointer; font-size:13px;}
.nav .div3 ul{margin:0;padding:0;}
.nav .div3 li{ height:30px; line-height:30px; list-style:none; border-bottom:#ccc 1px dotted; text-align:center;}
.nav .left_top img{display: inline;}