/* 
* @Author: Marte
* @Date:   2018-04-08 17:58:13
* @Last Modified by:   Marte
* @Last Modified time: 2018-04-08 21:05:54
*/

#home{
    height:100%;
    display:flex;
    background-color:#F0F0F0;
    flex-direction:column;
    .header{
        height:0.533333rem;background-color:#333333;
        display:flex;justify-content:space-between;
        .youxi{
            background-color: #ccc;color:#333;
        }
        i{
            font-size: 0.333333rem;color:#CCCCCC;line-height: 0.533333rem;padding: 0 0.113333rem;
        }
        div{height: 0.333333rem;margin-top: 0.113333rem;width: 1.066667rem;text-align: center;border:1px solid #ccc;color:#ccc;line-height: 0.333333rem;display:flex;
            span{display:inline-block;width: 50%;height: 100%;}
        }

    }
    .main{
        flex:1;background-color:#FFFFFF;overflow-x:hidden;
        #huodong{
            height: 1.2rem;
            ul{
                height: 100%;margin: 0;
                li{
                    width: 25%;
                    height: 100%;float: left;padding:0.1rem 0.163333rem 0 0.163333rem ;
                    a{display:block;width: 0.658667rem;height: 100%;margin: 0 auto;
                        .imgs1{
                            width: 85%;
                            margin-left:0.083333rem ;
                            height: 60%;
                            background: url("https://static.sonkwo.com/assets/mobile/menu_activitiy-8c334beeee30ee9eaaefdea84c349a598ba3bfa1a31c8abe0624d8cb1534c97f.png") no-repeat;
                            background-size: 0.55rem;
                                }
                        .imgs2{
                            width: 85%;
                            margin-left:0.083333rem ;
                            height: 60%;
                            background:url("https://static.sonkwo.com/assets/mobile/menu_benefit-4f5bf8607c4a7b73bd9169afbf9559ccd8ee9da439af459ad5b6cdedac9a3b0a.png") no-repeat;
                            background-size: 0.55rem;
                        }
                        .imgs3{
                           width: 85%;
                            margin-left:0.083333rem ;
                            height: 60%;
                            background:url("https://static.sonkwo.com/assets/mobile/menu_peripheral-1d3dfedc2984b49afd24429faf9f857261caf2d8d2249cc747e9cb753be0124b.png") no-repeat;
                            background-size: 0.55rem;
                        }
                        .imgs4{
                            width: 85%;
                            margin-left:0.083333rem ;
                            height: 60%;
                            background:url("https://static.sonkwo.com/assets/mobile/menu_publisher-707dd69bd571101da2f92de7003da046abc36a695d8a1e1da0858c953cb3d4ec.png") no-repeat;
                            background-size: 0.55rem;
                        }
                        p{

                            height: 0.213333rem;margin: 0;
                            text-align: center;line-height: 0.213333rem;margin-top: 0.1rem;font-size: 0.067rem;
                        }
                    }

                }
            }
        }
        .toutiao{
            height: 0.666667rem;
            padding:0 0.226667rem;display:flex; align-items: center;
            .logo2{
                width: 0.866667rem;height: 0.44rem;margin-right: 0.183333rem;   background: url("https://static.sonkwo.com/assets/mobile/menu_headline-84e3a965ae8140c60497d0a460dfd125ed7b9e624d88b9518136784462b45a4d.png") no-repeat;background-size: 0.666667rem;
            }
            .neirong{
                height: 0.44rem;width: 4.6rem;line-height: 0.54rem;font-size: 0.20667rem;    overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .changxiao{
            height: 2.996667rem;
            .dianzi{
                height: 0.163333rem;background-color: #F5F5F5;
            }
            .changxiaoname{
                height: 0.666667rem;
                 padding:0 0.226667rem;line-height: 0.666667rem;font-size: 0.263333rem;font-weight: bold;
            }
            .changxiaomain{
                height: 2rem;
                ul{
                    width: 11rem;height: 100%;padding:0 0.226667rem;
                    li{
                        width: 20%;height: 100%;float: left;
                        .changxiaoimg{
                            width: 2rem;height: 1.12rem;
                            img{
                                width: 100%;height: 100%;
                            }
                            .changxiaotitle{
                                height: 0.24rem;line-height:0.24rem; font-size: 0.173333rem;margin-top: 0.10333rem;
                            }
                            .changxiaoprice{
                                height: 0.24rem;line-height:0.24rem; font-size: 0.23333rem;margin-top: 0.10333rem;font-weight: bold;color:#FF6A3C;
                            }
                        }
                    }
                }
            }

        }

        
    }
}