<div id="allclass">
    <div class="header">
        <i class="icon iconfont icon-zuojiantou" (click)="back()"></i>
        <div>全部分类</div>
    </div>
    <div class="main">
        <ul>
            <li>
                <a router-link="">
                    <button>
                        动作
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        射击
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        策略
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        角色扮演
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        二次元
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        竞速
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        体育
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        休闲
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        冒险
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        格斗
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        即时战略
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        像素风
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        战争
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        益智
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        回合
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        解谜
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        剧情
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        科幻
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        多人
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        第一人称
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        历史
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        家庭
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        4X
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        开放世界
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        悬疑
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        经营
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        日系
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        韩系
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        三次元
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        空间
                    </button> 
                </a>
            </li>
        </ul>
    </div>
</div>
