<div id="allclass">
    <div class="header">
        <i class="icon iconfont icon-zuojiantou" (click)="back()"></i>
        <div>厂商目录</div>
    </div>
    <div class="main">
        <ul>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/Ft_8ztIi6EBaVv8MQHgtUxgpqVi7">
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s1.sonkwo.com/publisher/1C.png" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/Fh8OtkrT2ItpIcXJGlv7y1yH6ce6" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FnFR_7fp8tJZ1Lv5xCb964b79a_-" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FmUaM4lVt3F_hUvgjuG_r9Dm90U1" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FppyJJjObXhAJw7DGhgDp9OeqgJk" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FhiibANbJhPI1rjqdVtZzum79igJ" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FhvUWrcafwz5rKvwRAUbQyt8NYFe" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FgJXHymSY_Sh88Xptq-_pisB0sQI" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FpE9bR-BGoVMt75UBQ6WFgcl5R4t" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FtAxoILWvxoE3av-uVdZYNs7DyHv" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FuFl26XGOWUOVojcbUwfYG6U686X" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FosZ_MtVYfghfqOFyGxkGX3jx0Qh" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FvAolepLDhq_nb9CiVvdb_AFABbp" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/Fom5Gei5hgMLx4FrFOIOdl_cWpnx" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s1.sonkwo.com/publisher/CAPCOM.png" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FjnwYZ7UhyrOZE68Br5HpLJDh9sN" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FvEp_q1u0mA8hSLKPL7HGItucqqz" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FmafjkEVXMTXnc6FK4z5TEJMUp_D" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FnP7uNAlvlKDOlRfh6ePZrqNvKEj" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/Fj1A0BNwDiIZBY1meUHW1o6Wqvns" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s1.sonkwo.com/publisher/CODEMASTERS_0.png" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/Fq1cMFGQkQr0h4SDGnQZezFePyQ1" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/Fh4LME6Hl6wMvp3e1KShq1XVndhM" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FsKI9eetjDzRmR4QERMTNuAFrHqN" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/FqV--cLAfaPxO8Nd2IJ1rCitCVua" alt="" />
                    </button> 
                </a>
            </li>
            <li>
                <a router-link="">
                    <button>
                        <img src="https://s3.sonkwo.com/Fn6hjjRf-bnENqiHqtw9DX366oaR" alt="" />
                    </button> 
                </a>
            </li>
        </ul>
    </div>
</div>