/* 
* @Author: Marte
* @Date:   2018-04-12 19:05:29
* @Last Modified by:   Marte
* @Last Modified time: 2018-04-13 16:30:40
*/

#addgoods{
    width:100%;
    #title{
        width:600px;
        font-size:36px;
        margin:0 auto;
    }
}
