#confirm{
    height:100%;
    display:flex;
    flex-direction:column;
    .header{
       display:flex;
        width: 100%;
        height:1.16rem;
        align-items:center;
        justify-content:space-between;
        background:#000000;
        color:#fff;
        font-size:0.4rem;
        border-bottom:1px solid #9C9C9C;
        li:nth-child(3){
        }
        li:nth-child(1){
            padding-left:0.106667rem;
            color:#fff;
            i{
                display:block;
                font-size:0.373333rem;
            }
        }
    }
    .main{
        width: 100%;
        flex:1;
        overflow-x: hidden;
        background:#F4F4F4;
        .carslist{
            li{
                display:flex;
                height:2.833333rem;
                margin-bottom:0.106667rem;
                justify-content:space-around;
                align-items:center;
                background:#fff;
                img{
                    width:3.586667rem;
                    height:2.4rem;
                    margin-left:0.133333rem;
                }
                .carslist-tittle{
                   width:4.5rem;
                    margin-left:0.266667rem;
                    font-size:0.373333rem;
                }
                .tittle{
                    margin-bottom:0.333333rem;
                }
                .price{
                    color:#F14635;
                }
                input{
                    width:0.4rem;
                }
            }
        }
        .coupon{
            display:flex;
            height:1.26rem;
            justify-content: space-between;
            align-items: center;
            margin-bottom:0.106667rem;
            font-size:0.373333rem;
            background: #fff;
            li:nth-child(1){
                padding-left:0.16rem;
                .qty{
                    color:#EF541E;
                }
            }
            li:nth-child(2){
                padding-right:0.16rem;
                i{
                    padding-left: 0.133333rem;
                }
            }
        }
        .invoice{
            display:flex;
            height:1.26rem;
            justify-content: space-between;
            align-items: center;
            margin-bottom:0.106667rem;
            font-size:0.373333rem;
            background: #fff;
            li:nth-child(1){
                padding-left:0.16rem;
            }
            li:nth-child(2){
                padding-right:0.16rem;
                i{
                    padding-left: 0.133333rem;
                }
            }
        }
    }
    .l-present{
        display:flex;
        height:1.26rem;
        justify-content:space-between;
        .present-l{
            width:3.36rem;
            height:1.26rem;
            background:#fff;
            line-height:1.26rem;
            text-align: center;
            font-size:0.373333rem;
            .price1{
                color:#EF541E;
            }
        }
        .present-r{
            width:2.053333rem;
            height:1.26rem;
            background:#FE5722;
            line-height:1.26rem;
            text-align: center;
            color:#fff;
            font-size:0.373333rem;
        }
    }
}