<div id="login">
    <div class="header">
        <div class="close">关闭</div>
        <div>登录</div>
        <div>注册</div>
    </div>
    <div class="main">

            <h1></h1>
            <div>
                <i class="iconfont icon-shouji"></i>
                <input type="text" placeholder="请输入手机号/邮箱" />
            </div>
            <div>
                <i class="iconfont icon-jiesuo"></i>
                <input type="text" placeholder="请输入密码" />
                <i class="iconfont icon-yanjing"></i>
            </div>
            <div>登陆遇到问题？</div>
            <button id="btn">登录</button>
            <p>手机号快捷登录</p>

    </div>
</div>