<div id="personal">
    <div class="header">
        <a routerLink="/mine"><div class="iconfont icon-iconfontjiantou1"></div></a>
        <div>基本信息</div>
        <div class="keep">保存</div>
    </div>
    <div class="main">
        <div class="mt"></div>
        <div class="mb">
            <div class="nick">
                <span>昵称</span>
                <input type="text" name="" />
            </div>
            <!-- <p *ngIf="remind">长度不能超过10个汉字或20字符</p> -->
            <p>长度不能超过10个汉字或20字符</p>
            <div class="sex">
                <span>性别</span>
                <ul>
                    <li><div class="iconfont icon-nan"></div></li>
                    <li><div class="iconfont icon-nvfemale128"></div></li>
                    <li><div class="iconfont icon-zhongxing"></div></li>
                </ul>
            </div>
            <button>退出登录</button>
        </div>
    </div>
</div>