<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_620645_wy4c7ceyax94fgvi.css">
<div class="footer">
    <a routerLink="/home" [class.ac]="curr == 'home'">
        <i class="iconfont icon-icon-test"></i>
        <span>商城</span>
    </a>
    <a routerLink="/community" [class.ac]="curr == 'fenlei'">
        <i class="iconfont icon-fenlei"></i>
        <span>商品分类</span>
    </a> 
    <a routerLink="/shoppingcar" [class.ac]="curr == 'car'">
        <i class="iconfont icon-gouwuchekong"></i>
        <span>购物车</span>
    </a>    
    <a routerLink="/mine" [class.ac]="curr == 'wode'">
        <i class="iconfont icon-xiazai4"></i>

        <span>我的</span>
    </a>     
</div>