/* 
* @Author: Marte
* @Date:   2018-04-08 18:00:59
* @Last Modified by:   Marte
* @Last Modified time: 2018-04-08 20:38:16
*/
.footer{
    display:flex;
    height: 1.733333rem;
    background-color:#343434;
    justify-content: space-around;
    
    a{
        display:inline-block;
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        color:#8B8587;
        i{
            color:#8B8587;
            font-size:0.48rem;
        }
        span{
            // color:#fff;
            // font-size:0.16rem;
        }
    }
    .ac{
        color:#ED6D00;
        i{
            color:#ED6D00;
        }
    }
}