<div id="confirm">
    <ul class='header'>
        <a routerLink="/shoppingcar">
            <li><i class="icon iconfont icon-xiangzuo"></i></li>
        </a>
        <li>确认订单</li>
        <li></li>
    </ul>
    <div class="main">
        <ul class="carslist">
            <li>
                <img src="https://s1.sonkwo.com/FhzTWiBW-opJtYSQrWk8CH1Vmg9Z?imageMogr2/thumbnail/256" />
                <div class="carslist-tittle">
                    <p class="tittle">火星求生 第一殖民地版</p>
                    <p class="price">￥200</p>
                </div>
            </li>
            <li>
                <img src="https://s1.sonkwo.com/FhzTWiBW-opJtYSQrWk8CH1Vmg9Z?imageMogr2/thumbnail/256" />
                <div class="carslist-tittle">
                    <p class="tittle">先祖遗产</p>
                    <p class="price">￥200</p>
                </div>
            </li>
            <li>
                <img src="https://s1.sonkwo.com/FhzTWiBW-opJtYSQrWk8CH1Vmg9Z?imageMogr2/thumbnail/256" />
                <div class="carslist-tittle">
                    <p class="tittle">先祖遗产</p>
                    <p class="price">￥200</p>
                </div>
            </li>
        </ul>
        <ul class="invoice">
            <li>发票</li>
            <li>不开发票<i class="icon iconfont icon-youjiantou-01"></i></li>
        </ul>
        <ul class="coupon">
            <li>优惠卷</li>
            <li>未使用<i class="icon iconfont icon-youjiantou-01"></i></li>
        </ul>
         <ul class="coupon">
            <li>共<span class="qty">2</span>个商品</li>
            <li>总计:<span class="price">￥200</span></li>
        </ul>
    </div>
    <div class="l-present">
        <div class="present-l">实付:<span class="price1">￥499.00</span></div>
        <a routerLink="/payment">
            <div class="present-r">提交订单</div>
        </a>
    </div>
</div>
