#shoppingcar{
    height:100%;
    display:flex;
    background-color:#F0F0F0;
    flex-direction:column;
    
    .header{
       display:flex;
        width: 100%;
        height:1.16rem;
        align-items:center;
        justify-content:space-between;
        background:#000000;
        color:#fff;
        font-size:0.4rem;
        border-bottom:1px solid #9C9C9C;
        li:nth-child(3){
            padding-right:0.2rem;
        }
        li:nth-child(1){
            padding-left:0.106667rem;
            width:0.373333rem;
            height:0.373333rem;
            i{
                display:block;
                font-size:0.373333rem;
            }
        }
    }
    .headed-tabs{
        display:flex;
        height:1.133333rem;
        background:#000000;
        color:#fff; 
        align-items:center;
        justify-content:space-around;
        font-size:0.373333rem;
        div{
            width:3.0rem;
            height:1.033333rem;
            text-align:center;
            line-height:1.033333rem;
        }
        div:hover{
            color:#F25534;
            border-bottom:2px solid #F25534;
        }
    }
    .main{
        width: 100%;
        flex:1;
        background:#F4F4F4;
        overflow-x:hidden;
        position: relative;
        .look{
            position: absolute;
            left: 0;top: 0;right:0;bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .look_con{
                text-align: center;
                p{
                    font-size: 0.426667rem;
                    color:#444;
                    margin-bottom:0.533333rem;
                }
                h4{
                    font-size: 0.373333rem;
                    
                    a{
                        color:#009ACD;
                        padding:0.266667rem;
                    }
                }
                
            }

        }
        .carslist{
            li{
                display:flex;
                height:3.333333rem;
                margin-bottom:0.093333rem;
                justify-content:space-around;
                align-items:center;
                background:#fff;
                img{
                    width:3.786667rem;
                    height:2.8rem;
                }
                .carslist-tittle{
                    width:4.5rem;
                    margin-left:0.216667rem;
                    font-size:0.373333rem;
                }
                .tittle{
                    margin-bottom:0.333333rem;
                }
                .price{
                    color:#F14635;
                }
                input{
                    display:block;
                    width:0.346667rem;
                    height:0.346667rem;
                }
            }
        }
    }
    .carsFoot{
        display:flex;
        height:1.293333rem;
        align-items:center;
        justify-content:space-between;
        background: #fff;
        border-top:1px solid #ccc;
        input{
            margin-left:0.133333rem;
            display:block;
            width:0.346667rem;
            height:0.346667rem;
        }
        div:nth-child(2){
            margin-right:0.26333rem;
            margin-left:0.133333rem;
            font-size:0.373333rem;
            .price{
                color:#F14635;
                margin-right:0.053333rem;
            }
            .freight{
                color:#C1C1C1;
            }
        }
        div{
            .ac{
                background: #f90;
            }
        }
       .goConfirm{
            width:3.0rem;
            height:1.293333rem;
            background:#ccc;
            line-height:1.293333rem;
            text-align:center;
            color:#fff;
            font-size:0.373333rem;
        }
    }
    .carsFoot1{
        display:flex;
        height:1.293333rem;
        align-items:center;
        justify-content:space-between;
        background: #fff;
        border-top:1px solid #ccc;
        div:nth-child(1){
            width:2.333333rem;
            display:flex;
            font-size:0.373333rem;
            align-items:center;
        }
        input{
            margin-left:0.203333rem;
            margin-right:0.133333rem;
            display:block;
            width:0.346667rem;
            height:0.346667rem;
        }
        .cars-del{
            width:3.0rem;
            height:1.293333rem;
            background:#FD5622;
            line-height:1.293333rem;
            text-align:center;
            color:#fff;
            font-size:0.373333rem;
        }
    }
}