<div id="shoppingcar">
    <ul class='header'>
        <li><i class="icon iconfont icon-xiangzuo"></i></li>
        <li>购物车</li>
        <li><span (click)="bianji($event)">编辑</span><span style="display:none;" (click)="wancheng($event)">完成</span></li>
    </ul>
    <div class="headed-tabs">
        <div>游戏</div>
        <div>周边</div>
    </div>
    <div class='main'>
        <ul class="carslist" >
            <li *ngFor="let item of dataset">
                <input type="checkbox" (click)="select(item.id,$event)" class="check2"/>
                <img src="{{item.imgs}}"/>
                <div class="carslist-tittle">
                    <p class="tittle">{{item.name}}</p>
                    <p class="price">￥{{item.price}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="carsFoot" *ngIf=show>
        <input type="checkbox"  (click)="selectAll($event)" id="check" />
        <div>
            <span>全选</span>
            <span>总计:<span class="price">￥{{allprice}}.00</span><span class=" freight">(不含运费)</span></span>
        </div>
        <!-- <a routerLink="/confirm"> -->
            <div class="goConfirm" id="jiesuan" (click)="jiesuan($event)">
                去结算
            </div>
        <!-- </a> -->
    </div>
 
    <div class="carsFoot1" *ngIf=show1>
        <div>
            <input type="checkbox" />
            <span>全选</span>
        </div>
        <div class="cars-del">删除</div>
    </div>
    <app-footer [curr]="car"></app-footer>
</div>
